@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
margin:0px;
padding:0px;
box-sizing: content-box;
font-family: 'Red Hat Display', sans-serif;
}

body{
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

section{
margin: auto;
margin-top: 30px;
width:320px;
height: 520px;
background-color: white;
border-radius: 20px;
}

.main{
border-radius: 20px 20px 0 0;
width:320px;
height:150px;
}

h1{
text-align: center;
margin-top: 20px;
color: hsl(223, 47%, 23%);
font-size: 1.8rem;
font-weight: 900;
margin-bottom: 15px;
}

p{
    font-size: 16px;
    color:hsl(224, 23%, 55%);
}
.sales{
text-align: center;
margin: 0 30px 0 20px;
line-height: 25px;
margin-bottom: 15px;
}

.detail{
background-color: hsl(225, 100%, 98%);
display: flex;
margin: 20px;
border-radius: 20px;
padding:15px 5px;

}

.icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.plan{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin: 0 60px  0 20px;
    font-size: 14px;
}
.price{
    margin: 0 60px  0 20px;
    font-size: 14px;
}
.change{
    margin-top: 5px;
    text-decoration: underline;
    font-weight: 900;
    color: hsl(245, 75%, 52%);
    font-size: 13px;
    
}

.payment{
text-align: center;
padding:15px;
border-radius: 15px;
background-color: hsl(245, 75%, 52%);
color:white;
margin: 0 20px;
box-shadow: 0px 20px 10px 2px hsl(225, 100%, 94%);

}
.cancel{
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
}

.change:active,  .payment:active{
opacity: 0.6;
}

.cancel:active{
    color: hsl(223, 47%, 23%);

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width: 1440px){

    section{
        margin: auto;
        margin-top: 100px;
        width:430px;
        height: 680px;
        background-color: white;
        border-radius: 20px;
        }
        body{
            background-image: url(images/pattern-background-desktop.svg);
        }
        .main{
        border-radius: 20px 20px 0 0;
        width:430px;
        height:240px;
        }
        h1{
        font-size: 2.2rem;
        }
        .detail{
        margin: 30px 40px;

        }
        .plan, .price, .change{
        font-size: 16px;
        }
        .price, .plan{
            margin: 0 100px  0 20px;
        }
        .sales{
        margin:0 50px;
        }
        .payment{
            margin: 0 40px;
        }
        .cancel{
            margin-top: 35px;
        }



}
